@charset "utf-8";

// $primary: #000000;
@import "bulma/sass/utilities/initial-variables.sass";
@import "bulma/sass/utilities/functions.sass";
$menu-item-active-background-color: $turquoise;


@import "bulma";

.simple-card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.75rem;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}